{% extends "base.html" %}
{% block title %}Профиль пользователя{% endblock %}
{% block header %}Профиль пользователя{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        {{ username.get_full_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         {{ username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: XXX <br />
                                            Подписан: XXX
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                Записей: {{ posts_count }}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>
            <div class="col-md-9">
                <!-- Начало блока с отдельным постом -->
                {% for post in page %}
                    <div class="card mb-3 mt-1 shadow-sm">
                            <div class="card-body">
                                    <p class="card-text">
                                            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                            <a href="/{{ username }}/">
                                                <strong class="d-block text-gray-dark">{{ post.author.get_full_name }}</strong></a>
                                    </p>
                                            <!-- Текст поста -->
                                    <p>{{ post.text|linebreaksbr }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group ">
                                                    <!-- Ссылка на страницу записи в атрибуте href-->
                                                    <a class="btn btn-sm text-muted" href="/{{ username }}/{{post.id }}/" role="button">Добавить комментарий</a>
                                                    {% if username == request.user  %}
                                                        <a class="btn btn-sm text-muted" href="/{{ username }}/{{post.id }}/edit" role="button">Редактировать</a>
                                                    {% endif %}
                                            </div>
                                            <!-- Дата публикации  -->
                                            <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
                                    </div>
                            </div>
                    </div>
                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
                <!-- Остальные посты -->
     </div>
    </div>
</main>
{% include "paginator.html" %}
{% endblock %}